
{% block content %}

<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>


<div class="mainSection">
     <div class="pageHeading">Openstack Details</div>
		<br>
	<div class="cardView" >
		<h5>User Credentials:</h5>
		<br>
    		<div class="row">
                         <div class="col-sm-6">
                                <div class="row">
                                         <div class="col-sm-6"> Auth url </div>
                                        <div class="col-sm-6 details">{{items[0].auth_url}} </div>
                                 </div>
                        </div>
                         <div class="col-sm-6">
                          <div class="row">
                                <div class="col-sm-6"> Username </div>
                                 <div class="col-sm-6 details">{{items[0].username}} </div>
                         </div>
                        </div>
                </div>
		<br>
		                <div class="row">
                         <div class="col-sm-6">
                                <div class="row">
                                         <div class="col-sm-6"> Project Name </div>
                                        <div class="col-sm-6 details">{{items[0].project_name}} </div>
                                 </div>
                        </div>
                         <div class="col-sm-6">
                          <div class="row">
                                <div class="col-sm-6"> Domain Name </div>
                                 <div class="col-sm-6 details">{{items[0].user_domain_name}} </div>
                         </div>
                        </div>
                </div>
		<br>
                <div class="row">
                         <div class="col-sm-6">
                                <div class="row">
                                         <div class="col-sm-6"> Project Domain Name </div>
                                        <div class="col-sm-6 details">{{items[0].project_domain_name}} </div>
                                 </div>
                        </div>
                         <div class="col-sm-6">
                          <div class="row">
                                <div class="col-sm-6"> Region Name </div>
                                 <div class="col-sm-6 details">{{items[0].region_name}} </div>
                         </div>
                        </div>
                </div>
 	</div>
<br>
	 <div class="cardView" >
		<h5> Node Details: </h5>
		<br>
                <div class="row">
                         <div class="col-sm-6">
                                <div class="row">
                                         <div class="col-sm-6"> Id </div>
                                        <div class="col-sm-6 details">{{items[0].id}} </div>
                                 </div>
                        </div>
                         <div class="col-sm-6">
                          <div class="row">
                                <div class="col-sm-6"> Node Name </div>
                                 <div class="col-sm-6 details">{{items[0].node_name}} </div>
                         </div>
                        </div>
                </div>
		<br>
		 <div class="row">
                         <div class="col-sm-6">
                                <div class="row">
                                         <div class="col-sm-6"> Flavor Name </div>
                                        <div class="col-sm-6 details">{{items[0].flavor_name}} </div>
                                 </div>
                        </div>
                         <div class="col-sm-6">
                          <div class="row">
                                <div class="col-sm-6"> Image Name </div>
                                 <div class="col-sm-6 details">{{items[0].image_name}} </div>
                         </div>
                        </div>
                </div>
		<br>
	        <div class="row">
                         <div class="col-sm-6">
                                <div class="row">
                                         <div class="col-sm-6"> Security Group Name </div>
                                        <div class="col-sm-6 details">{{items[0].security_group_name}} </div>
                                 </div>
                        </div>
                         <div class="col-sm-6">
                          <div class="row">
                                <div class="col-sm-6"> Private Network Name </div>
                                 <div class="col-sm-6 details">{{items[0].private_network_name}} </div>
                         </div>
                        </div>
                </div>
		<br>
                <div class="row">
                         <div class="col-sm-6">
                                <div class="row">
                                         <div class="col-sm-6"> External Network Name </div>
                                        <div class="col-sm-6 details">{{items[0].external_network_name}} </div>
                                 </div>
                        </div>
                         <div class="col-sm-6">
                          <div class="row">
                                <div class="col-sm-6"> Status </div>
                                 <div class="col-sm-6 details">{{items[0].status}} </div>
                         </div>
                        </div>
                </div>
		<br>
		 <div class="row">
                         <div class="col-sm-6">
                                <div class="row">
                                         <div class="col-sm-6"> Created at </div>
                                        <div class="col-sm-6 details">{{items[0].created_at}} </div>
                                 </div>
                        </div>
                         <div class="col-sm-6">
                          <div class="row">
                                <div class="col-sm-6"> Cluster ID </div>
                                 <div class="col-sm-6 details">{{items[0].cluster_id}} </div>
                         </div>
                        </div>
                </div>
	</div>

</div>
{% include 'index.html' %}

{% endblock %}
