.cards{
margin:8% 5%;
box-shadow:0 5px 5px rgba(0,0,0,.4);
border-radius:20px;
}
.infoSection{
padding:20px 5px;
}
.logoSection{
padding:8%;
background-color:#008080;
}
.firstHeading{
    font-size:2rem;
    font-weight: bold;
    margin-left:32%;
}
.secondHeading{
    font-size: 3rem;
    color: white;
    font-weight: bolder;
    margin-left:22%;
}
.mainHeading{

font-size:3rem;
text-align: center;
}
p{
font-size:1rem;
}
.lists{
font-size:0.9rem;
}
