lang en_US
keyboard us
timezone Asia/Kolkata --isUtc
rootpw $1$e8lP+Vnx$r6UkDZleo04NpO2CW42XV. --iscrypted
#platform x86, AMD64, or Intel EM64T
reboot
url --url={{ OS_source_link }}
#http://vault.centos.org/7.6.1810/os/x86_64
#ftp://192.168.50.2/pub/OS
bootloader --location=mbr --append="rhgb quiet crashkernel=auto"
zerombr
clearpart --all --initlabel
autopart
#clearpart --all --initlabel
#volgroup centos --pesize=4096 pv.0 
#part pv.0 --fstype=lvmpv --ondisk=sda --size=471040
#part /boot --fstype=xfs --size=700 --asprimary
#logvol swap --vgname=root --name=swap --fstype=swap --size=51200
#logvol / --vgname=root --name=root --fstype=xfs --size=409600
auth --passalgo=sha512 --useshadow
selinux --enforcing
firewall --disabled
firstboot --disable
%packages
@base
%end
